{% extends "event/base.html" %}
{% block content %}
	<ul>
		<h1>About This App.</h1>
		<li><p class='article content'>Hey fellow User! Let me give you a small tour of my Website.</p></li>
		<li><p class='article content'>
			This is a website aimed to work for a small community belonging to a specific organization, institute or having similar beliefs. 
		</p></li>
		<li><p class='article content'>				Basically everyone here registers 		as a user and a few people among 		them are decided as admins and 			organizations.
		</p></li>
		<li><p class='article content'>
			Only organizations and admins can post content. Various filters have also been installed so as to view events according to the user's wish.If you are willing to become an organization or an admin please feel free to mail the admin(that's me ;)  ) at dhrumilkavathia22@gmail.com .
		</p></li>
		<li><p>
			If you looking about the event date format while creating an event the format is as follows:</p><p> <b>YYYY-MM-DD hrhr:minmin:secsec</b>
		</p></li>
		<li><p>
			Look around, explore and have fun!.
			Sorry for any inconvinience faced.
		</p></li>
	</ul>
{% endblock content %}
